# 1. Virtual environments and package management
# ------------------------------------------------------------------------------
venv_ge/                     

# 2. Sphinx documentation output
# ------------------------------------------------------------------------------
docs/_build/

# 1. Large files and data
# ------------------------------------------------------------------------------
data/
